<div class="flex justify-center">
    <img class="w-full h-screen object-cover bg-cover bg-center absolute bg-no-repeat bg-fixed flex flex-col brightness-90 transition"
        src='/img/loader-background.png' />
    <app-btns></app-btns>
    <div class="absolute z-10 flex flex-col text-center w-11/12 h-screen">
        <div class="text-white font-noto text-[75px] mb-9 mt-[16px]">GeoQuiz</div>
        <div
            class="text-white font-light flex flex-col items-center mt-[50%] sm:mt-[30%] md:mt-[25%] lg:mt-[13%] justify-center main-content text-[30px] lg:text-[45px]">
            <h1 class="text-white font-light font-playfair leading-snug">Begin your geography learning<br />journey here
            </h1>
            <button
                class="text-white text-xl rounded-full border-[#ffffff40] border font-raleway mt-12 py-4 px-11 bg-transparent cursor-pointer hover:bg-[#182f3d] duration-1000 ease-in-out transform"
                id="link-to-main">Explore the World</button>
        </div>
    </div>
</div>