<div class="h-screen absolute overflow-hidden m-0 z-50 flex">
    <div
        class="noto flex fixed w-full h-screen backdrop-blur-xl top-0 left-0 justify-center items-center z-10 transition-opacity-transform duration-1000 ease-in-out transform">
        <div class="p-0 m-0 rounded-2xl relative w-[500px] h-[500px] items-center flex-col flex bg-[#142733]">
            <svg (click)="pLogic.loginClose()"
                class="fill-zinc-400 h-11 w-11 flex cursor-pointer absolute right-0 top-0 mr-3 mt-3 rounded-full hover:fill-[#ffffff99] hover:bg-[#182f3d] transition-colors duration-500 ease-in-out"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" version="1.1">
                <path
                    d="M777.856 280.192l-33.92-33.952-231.872 231.872-231.84-231.872-33.984 33.888 231.872 231.904-231.84 231.84 33.888 33.984 231.904-231.904 231.84 231.872 33.952-33.888-231.872-231.904z" />
            </svg>
            <div class="justify-center items-center text-center flex flex-col mt-16">
                <p class="inter-regular text-2xl mb-4 text-zinc-300">Login to see Game History</p>
                <form (ngSubmit)="loginUser(loginForm.value)" #loginForm="ngForm">
                    <input type="text" name="username" placeholder="Username" ngModel required
                        class="w-80 h-14 border pl-2 border-gray-700 focus:outline focus:outline-gray-500 focus:outline-2 rounded appearance-none text-base bg-transparent text-white z-10 mb-3" />
                    <input type="password" name="password" placeholder="Password" ngModel required
                        class="w-80 h-14 border pl-2 border-gray-700 rounded appearance-none focus:outline focus:outline-gray-500 focus:outline-2 text-base bg-transparent text-white z-10 mt-2.5" />
                    <button type="submit"
                        class="w-80 mt-24 h-[52px] font-bold border-none rounded-full text-base cursor-pointer bg-slate-200 text-[#182f3d] hover:bg-slate-300 transition-colors duration-500">Login</button>
                </form>
                <p #warning class="absolute text-red7 opacity-0 mt-5 text-sm">{{errorMessage}}</p>
                <p (click)="pLogic.registerBtn()" class="text-[#71767b] text-md w-80 text-start font-thin mt-5">Don't
                    have an account?
                    <button class="text-sky-700" >Sign up</button>
                </p>
            </div>
        </div>
    </div>
</div>

<register-popup *ngIf="pLogic.register"></register-popup>